body,html{
  width: 100%;
  height: 100%;
  overflow: hidden;

}

#container{
  width: 100%;
  height:100%;
  overflow: hidden;
  background: pink;
  position: absolute;

}
.page{
  /*touch-action: none;*/
  z-index: 5;
  width: 100%;
  height:100%;
  overflow: hidden;
  position: absolute;
}

*{
  touch-action: none;
}

.page-current{
  z-index: 2;
}
.hide{
  display: none;
}
.show{
  display: block;
}



.music{width:8%;height:auto;position:fixed;top:15px;right:15px;z-index:9999;cursor:pointer;}
.music-p{width:140%;height:auto;position:absolute;top:-30%;right:-30%;}
.music img,.music-p img{width:100%;height:auto;}

/*第一屏 start*/
.page-1{height:100%;background:url(../images/P1.jpg) no-repeat;background-size:cover;overflow:hidden}
.p1-sun{position:absolute;background:url(../images/P1_ri.png) no-repeat;background-size:100%;width:14rem;height:14rem;left:-25%;top:-15%;animation: sunRound 20s linear infinite; opacity:1}
.p1-cloud01{position:absolute;background:url(../images/P1_cloud01.png) no-repeat;background-size:100%;width:6rem;height:3rem;top:7%;left:35%}
.p1-cloud02{position:absolute;background:url(../images/P1_cloud02.png) no-repeat;background-size:100%;width:6rem;height:3rem;top:16%;left:65%}
.p1-cloud03{position:absolute;background:url(../images/P1_cloud01.png) no-repeat;background-size:100%;width:6rem;height:3rem;top:12%;left:65%}
.p1-hr{position:absolute;background:url(../images/P1_hr.png) top no-repeat;background-size:100%;width:22rem;height:12rem;top:38%;left:10%; opacity:1}
.p1-plan{position:absolute;background:url(../images/P1_plan.png) no-repeat;background-size:100%;width:12rem;height:4rem;left:5%;top:50%;z-index:51; opacity:0}
.p1-leftFox{position:absolute;left:30%;bottom:3rem;z-index:51;background:url(../images/P1_leftFox.png) no-repeat;background-size:cover;width:9rem;height:14.5rem;opacity:0}
.p1-rightFox{position:absolute;left:59%;bottom:3rem;z-index:52;background:url(../images/P1_rightFox.png) no-repeat;background-size:cover;width:10rem;height:16rem;opacity:0}
.six{position:absolute;width:80%;left:10%;top:30%;text-align:center;}



/*第二屏 start*/
.page-2{height:100%;background:url(../images/P2.jpg) no-repeat;background-size:cover;overflow:hidden}
.p2-guochan{position:absolute;background:url(../images/P2-guochan01.png) no-repeat 0rem 0;background-size:cover;width:9rem;height:3rem;top:64.5%;left:40%;animation: guochan 2s steps(2) infinite;}
.p2-huluobu{position:absolute;background:url(../images/P2-huluobu.png) no-repeat;background-size:100%;width:4rem;height:5rem;top:55.5%;left:45%;animation: huluobu 2s linear infinite;}
.p2-lazhu{position:absolute;background:url(../images/P2-lazhu01.png) no-repeat;background-size:cover;width:2rem;height:4rem;top:70%;left:45%;animation: lazhu 1s steps(2) infinite;}
.p2-text{position:absolute;top:25%;width:60%;left:30%;font-size:1.1rem;color:#fff;font-family:"微软雅黑";}
.p2-text p{line-height:25px; opacity:0}
.p2-t1{animation-delay: 0.5s}
.p2-t2{animation-delay: 0.8s}
.p2-t3{animation-delay: 1s}
.p2-t4{animation-delay: 1.5s}



@keyframes lazhu {
  0% { background-position:    0px 0; }
  100% { background-position: 192% 0; }
}

@keyframes guochan {
  0% { background-position:    0px 0; }
  100% { background-position: 212% 0; }
}

@keyframes huluobu {
  0% { top:52.5% }
  100% { top:57.5% }
}
/*第三屏 start*/
.page-3{height:100%;background:url(../images/P3.jpg) no-repeat;background-size:cover;overflow:hidden}
.p3-tree{position:absolute;left:0;bottom:0;z-index:2; opacity:0; animation-delay: 0.5s}
.p3-tree img{width:60%}
.p3-food{position:absolute;left:10%;top:70%;opacity:0;animation-delay: 0.8s}
.p3-food img{width:60%}
.p3-fox{position:absolute;left:0;bottom:0;z-index:2;opacity:0;animation-delay: 1s}
.p3-fox img{width:60%}
.p3-foxGirl{position:absolute;left:6%;bottom:2rem;opacity:0;animation-delay: 1.2s}
.p3-foxGirl img{width:60%;}
.p3-btm{position:absolute;left:50%;bottom:-.5rem;opacity:1;background:url(../images/P3-btm.png) 0 0 no-repeat;background-size:cover;width:5rem;height:5rem;}
.p3-btm img{width:40%}
.p3-phone{position:relative;max-width:640px;margin:auto;margin-top:30%;height:22%;}
.p3-phone img{display:block;position:absolute;border-radius:16px}
.p3-phoneBox {  width: 100%;height: 10rem}
.p3-pic img{width: 13.3rem ;position: absolute;left: 3.9rem;top:0.6rem}
.p3-swiper{width:53%;position:absolute;left:6.2%;top:0;z-index:2}
.p3-text{position:absolute;top:45%;width:60%;left:20%;font-size:1rem;text-align:center;color:#fff;}
.p3-text p{line-height:25px;opacity:0;font-family:"微软雅黑";}
.p3-btmAni{animation: leriAni 3s steps(4) infinite;}
.p3-t1{animation-delay: 1.5s}
.p3-t2{animation-delay: 1.8s}
@keyframes leriAni {
  0% { background-position:    0px 0; }
  100% { background-position: 134% 0; }
}

/*第四屏*/
.page-4{height:100%;background:url(../images/P4.jpg) no-repeat;background-size:cover;overflow:hidden}
.p4-dangao{position:absolute;right:0;bottom:0;text-align:right;opacity:0;}
.p4-dangao img{width:60%;}
.p4-leftfox{position:absolute;left:3%;bottom:11%;opacity:0;z-index:51;text-align:left}
.p4-leftfox img{width:63%}
.p4-rightfox{position:absolute;left:42%;bottom:10%;opacity:0;z-index:52;text-align:center}
.p4-rightfox img{width:70%}
.p4-heart01{position:absolute;left:40%;top:30%;opacity:0;}
.p4-heart01 img{width:60%;}
.p4-heart02{position:absolute;left:50%;top:38%;opacity:0;}
.p4-heart02 img{width:50%;}
.p4-heart03{position:absolute;left:46%;top:48%;opacity:0;}
.p4-heart03 img{width:40%;}
.p4-planimg{position:absolute;z-index:50;left:-88%;bottom:-77%;  width:25rem; }
.p4-text{position:absolute;top:10%;width:42%;right:0%;font-size:1rem;color:#fff;font-family:"微软雅黑";}
.p4-text p{line-height:25px;opacity:0;}


/*第五屏 start*/
.page-5{height:100%;background:url(../images/P5.jpg) no-repeat;background-size:cover;overflow:hidden}
.p5-bigBox{position:absolute;left:6%;top:6%;width:88%;height:88%;}
.p5-bigBox img{width:100%;height:100%;}

.p5-text{position:absolute;top:30%;color:#fff;font-size:1rem;width:60%;left:30%;font-family:"微软雅黑";}
.p5-text p{line-height:25px; opacity:0}
.p5-red{position:absolute;right:20%;top:7.5%;animation-iteration-count:infinite;-webkit-animation-iteration-count:infinite}
.p5-red img{width:60%}
.p5-t1{animation-delay:0.3s}
.p5-t2{animation-delay:0.5s}
.p5-t3{animation-delay:1s}
.p5-t4{animation-delay:1.5s}
.p5-t5{animation-delay:2s}

/*第六屏 start*/
.page-6{height:100%;background:url(../images/P6.jpg) no-repeat;background-size:cover;overflow:hidden}
.p6-plan{position:absolute;left:30%;top:20%;opacity:0;animate-duration: 3s;-webkit-animate-duration: 3s;}
.p6-plan img{width:70%;}
.p6-text{position:absolute;top:32%;left:30%;font-size:1rem;color:#fff;font-family:"微软雅黑";z-index: 5;}
.p6-text p{line-height:25px;opacity:0;}
.p6-step01{position:absolute;bottom:-10%;left:0;-webkit-transform:scale(1,1);transform:scale(1,1);text-align:left}
.p6-step01 img{width:130%;}
.p6-step02{position:absolute;bottom:-10%;right:0;-webkit-transform:scale(1,1);transform:scale(1,1);opacity:0}
.p6-step02 img{
  width: 26rem;}
.p6-step03{position:absolute;bottom:-10%;left:0;-webkit-transform:scale(1,1);transform:scale(1,1);opacity:0}
.p6-step03 img{
  width: 29rem;}
.p6-step04{position:absolute;bottom:-10%;right:-15%;-webkit-transform:scale(1,1);transform:scale(1,1);opacity:0;text-right:right}
.p6-step04 img{
  width: 29rem;}
.p6-step05{position:absolute;bottom:-1%;left:0;opacity:0}
.p6-step05 img{
  width: 27rem;}
.p6-s1-zoom{animation: p6-zoom 1s;}
.p6-s2-zoom{animation: p6-zoom02 1s;}
.p6-s3-zoom{animation: p6-zoom03 1s;}
.p6-s4-zoom{animation: p6-zoom04 1s;}
.p6-s5-zoom{animation: p6-zoom05 1s;}
.p6-end{z-index:999;opacity:0;background:url(../images/p6-end.png);background-size:100%;max-width:640px;height:100%;}

@keyframes p6-zoom {
  0% { bottom:-10%;left:0;-webkit-transform:scale(1,1);transform:scale(1,1)}
  100% { bottom:15%;left:-40%;-webkit-transform:scale(.5,.5);transform:scale(.5,.5)}
}
@keyframes p6-zoom02 {
  0% { bottom:-10%;right:0;-webkit-transform:scale(1,1);transform:scale(1,1)}
  100% { bottom:20%;right:-15%;-webkit-transform:scale(.8,.8);transform:scale(.8,.8)}
}
@keyframes p6-zoom03 {
  0% { bottom:-10%;left:0;-webkit-transform:scale(1,1);transform:scale(1,1)}
  100% { bottom:2%;left:-30%;-webkit-transform:scale(.7,.7);transform:scale(.7,.7)}
}


